@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap");

.container {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: auto auto auto auto auto auto;
  font-family: "MuseoModerno", cursive, Sans-Serif;
}

.hero-home {
  grid-column: 2 / span 2;
  grid-row: 1;
  text-align: left;
  background: #323232;
  color: #ffffff;
  padding: 1em;
  margin-top: 1em;
  background: url("./assets/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  margin-bottom: 1.5em;
}

.hero-starter {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  margin: 2em 0 1em 0;
}

.hero-starter img {
  text-align: left;
  color: #ffffff;
  max-width: 100%;
  height: auto;
  margin: 0;

  /*background-image: url("./assets/starter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;*/
}

.hero-starter h1 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  opacity: 70%;
  padding: 1em;
  margin: -5em -1em 0 1em;
}

.hero-main {
  grid-column: 2 / span 2;
  grid-row: 1;
  text-align: left;
  color: #ffffff;
  padding: 1em;
  margin-top: 1em;
  background-image: url("./assets/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}

.hero-dessert {
  grid-column: 2 / span 2;
  grid-row: 1;
  text-align: left;
  background: #323232;
  color: #ffffff;
  padding: 1em;
  margin-top: 1em;
  background: url("./assets/dessert.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}

.hero-pies {
  grid-column: 2 / span 2;
  grid-row: 1;
  text-align: left;
  background: #323232;
  color: #ffffff;
  padding: 1em;
  margin-top: 1em;
  background: url("./assets/pie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}

.hero-home h1,
.hero-main h1,
.hero-dessert h1,
.hero-pies h1 {
  grid-column: 2 / span 2;
  grid-row: 1;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  opacity: 70%;
  padding: 0.2em;
  position: absolute;
  z-index: 1;
  bottom: 1%;
}

.h2 {
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  opacity: 70%;
  font-size: 1.5em;
  padding: 0.1em;
}

.link {
  text-decoration: none;
}

.container-1 {
  grid-column: 2 / 3;
  grid-row: 2;
  margin: 1em 0.5em 0.5 0;
  background-image: url("./assets/starter-home.jpg");
  height: 14em;
}

.container-2 {
  grid-column: 3 / 4;
  grid-row: 2;
  margin: 0 0 1em 0.5em;
  background-image: url("./assets/main-home.jpg");
  height: 14em;
}

.container-3 {
  grid-column: 2 / 3;
  grid-row: 3;
  margin: 1em 0.5em 0.5 0;
  background-image: url("./assets/dessert-home.jpg");
  height: 14em;
}

.container-4 {
  grid-column: 3 / 4;
  grid-row: 3;
  margin: 0 0 1em 0.5em;
  background-image: url("./assets/pie-home.jpg");
  height: 14em;
}

.ingredients {
  grid-column: 2 / 3;
  grid-row: 3;
  margin: 2em 0.5em 1em 0;
}

.ingredients h2 {
  text-align: left;
  background-color: #b5c723;
  padding: 1em;
  margin: 1em 0.5em 0 0;
}

.ingredients-list {
  text-align: left;
  background-color: #d8e7be;
  padding: 1em;
  margin: 0 0.75em 0 0;
}

.method {
  grid-column: 3 / 4;
  grid-row: 3;
  margin: 2em 0 1em 0.5em;
}

.method h2 {
  text-align: left;
  background-color: #b5c723;
  padding: 1em;
  margin: 1em 0 0 0;
}

.method-list {
  text-align: left;
  background-color: #d8e7be;
  padding: 1em;
  margin: 0 0 0 0;
}

/* Form styles */

.heading {
  grid-column: 2 / span 2;
  grid-row: 1;
  text-align: center;
  color: #800000;
  align-content: center;
  justify-content: center;
}

.form {
  grid-column: 2 / span 2;
  grid-row: 2;
  text-align: center;
  margin-bottom: 1em;
}

label {
  text-align: left;
  border-radius: 0.625em;
  font-size: 1.5em;
  line-height: 1.8;
}

input {
  border: 0.125em solid #800000;
  background: #fff;
  text-align: left;
  border-radius: 0.625em;
  font-size: 1.3em;
  line-height: 1.8;
  margin: 0.5% 0.5% 0.5% 1%;
}

textarea {
  border: 0.125em solid #800000;
  background: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  border-radius: 0.625em;
  padding: 1%;
  font-size: 1.3em;
  line-height: 1.8;
  margin: 0.5% 0.5% 0.5% 1%;
}

button {
  border: solid #800000;
  background: #800000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 0.625em;
  padding: 1%;
  font-size: 1.5em;
  line-height: 1.8;
  margin: 1.5% 1.5% 1.5% 1%;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: #fff;
}

button a:hover {
  text-decoration: underline;
  color: #fff;
}

button:active {
  text-decoration: underline;
  background: #000;
}

.content {
  grid-column: 2 / span 2;
  grid-row: 1;
  justify-content: center;
  align-content: center;
}

.content .title {
  text-align: center;
}

/* Responsive */

@media screen and (max-width: 800px) {
  /* .container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto;
  }
  */
  .hero-home,
  .hero-starter,
  .hero-main,
  .hero-dessert,
  .hero-pies {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .hero-starter h1 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    color: #ffffff;
    font-size: 3vw;
    text-align: left;
    background-color: #000000;
    opacity: 70%;
    padding: 1em;
    margin: -5em -1em 0 1em;
  }

  .h2 {
    color: #ffffff;
    text-align: left;
    background-color: #000000;
    opacity: 70%;
    font-size: 1em;
    padding: 0.1em;
  }

  .container-1 {
    grid-column: 2 / 4;
    grid-row: 2;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-image: url("./assets/starter-home.jpg");
    height: 14em;
  }

  .container-2 {
    grid-column: 2 / 4;
    grid-row: 3;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-image: url("./assets/main-home.jpg");
    height: 14em;
  }

  .container-3 {
    grid-column: 2 / 4;
    grid-row: 4;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-image: url("./assets/dessert-home.jpg");
    height: 14em;
  }

  .container-4 {
    grid-column: 2 / 4;
    grid-row: 5;
    margin-top: 0.5em;
    margin-bottom: 1em;
    background-image: url("./assets/pie-home.jpg");
    height: 14em;
  }

  .ingredients {
    grid-column: 2 / 4;
    grid-row: 3;
    margin: 1em 0 1em 0;
  }

  .ingredients h2 {
    margin: 0.5em 0 0 0;
  }

  .ingredients-list {
    margin: 0;
  }
  .method {
    grid-column: 2 / 4;
    grid-row: 4;
    margin: 1em 0 1em 0;
  }

  .method h2 {
    margin: 0;
  }

  .method-list {
    margin: 0;
  }
}
