@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap");

body {
  font-family: "MuseoModerno", cursive;
}

.footer {
  background: #b5c723;
  display: flex;
  justify-content: center;
  align-items: center;
}
